<html>
    <head>
        <title>Holden's Auto Sight-Reading Generator</title>
    </head>
    <body>
        <h1>Holden's Auto Sight-Reading Generator</h1>



        <form action="result" method="post">

          <label for="instrument">Choose an instrument</label>
          <select id="instrument" name="instrument">
          <option value="French Horn">French Horn</option>
          </select>

          <br><br>

        <form action="/action_page.php">
          <label for="time">Choose a time signature</label>
          <select id="time" name="time">
          <option value="4/4">4/4</option>
          <option value="3/4">3/4</option>
          <option value="2/4">2/4</option>
          </select>

          <br><br>

          <label for="time">Choose a concert key signature</label>
          <select id="key" name="key">
          <option value="C">C</option>
          <option value="F">F</option>
          <option value="bFlat">B flat</option>
          <option value="eFlat">E flat</option>
          <option value="aFlat">A flat</option>
          <option value="G">G</option>
          <option value="D">D</option>
          <option value="A">A</option>
          <option value="E"></option>
          </select>

<br><br>




<form action="/action_page.php">
          <label for="clef">Choose a clef</label>
          <select id="clef" name="clef">
          <option value="treble">Treble</option>
          <option value="bass">Bass</option>
        </select>
          <br><br>

<form action="/action_page.php">
          <label for="measures">Choose an estimated number of measures to generate</label>
          <select id="measures" name="measures">
          <option value="4">4</option>
          <option value="8">8</option>
          <option value="16">16</option>
          <option value="32">32</option>
          <option value="64">64</option>
        </select>
          <br><br>

          <input type="submit" value="Submit">
        </form>


        </body>
</html>
