<html>
    <head>
        <title>Holden's Auto Sight-Reading Generator</title>
    </head>
    <body>
        <h1>Holden's Auto Sight-Reading Generator</h1>



        <form action="result" method="post">

          <label for="instrument">Choose an instrument</label>
          <select id="instrument" name="instrument">
          <option value="frenchhorn">French Horn</option>
          </select>

          <br><br>

        <form action="/action_page.php">
          <label for="time">Choose a time signature</label>
          <select id="time" name="time">
          <option value="2/4">2/4</option>
          <option value="3/4">3/4</option>
          <option value="4/4">4/4</option>
          </select>

          <br><br>

          <label for="time">Choose a concert key signature</label>
          <select id="key" name="key">
          <option value="2/4">F</option>
          <option value="3/4">B flat</option>
          <option value="4/4">E flat</option>
          <option value="4/4">C</option>
          <option value="4/4">G</option>
          </select>
          <br><br>



          <input type="submit" value="Submit">
        </form>


        </body>
</html>
