<html>
  <link href='https://fonts.googleapis.com/css?family=Spectral' rel='stylesheet'>
  <style>

  h1 {
    font-family: "Spectral";
  }
  form {
    font-family: "Spectral";
    width: 100%;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit] {
  float: center;
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

  input[type=submit]:hover {
  background-color: #45a049;
  }

  </style>
    <head>
        <title>Holden's Auto Sight-Reading Generator</title>
    </head>
    <body>
        <h1><center>Holden's Auto Sight-Reading Generator</center></h1>

<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
        

        </body>
</html>
